* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Grid container*/

.grid-container {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 80px auto-fit 1fr;
  grid-template-areas:
    "header header"
    "video suggestions"
    "video suggestions";
  grid-gap: 20px;
}
/*Header Position and flex container*/
.header-item {
  position: sticky;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  text-align: center; /*this center everything*/
  
}

/*Hamburger menu and logo -  flex item*/

.logo-menu-images{
  flex-basis: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Form*/
.form-header {
  display: flex;
  flex-basis: calc(100% - 10rem - 15rem);  
}

.youtube-search-bar {
  width: 100%; 
  height: 2rem;
}

input[type="text"]{
  width: 50%;
  height: 2rem;
}

input[type="submit"] {
  width: 100px;
  height: 2rem;
} 

/*Header icons*/

.header-icons{
  display: flex;
  flex-basis: calc(100% - 10rem - (100% - 10rem - 15rem));
  justify-items: flex-end;
}

.bi{
  flex-grow: 1;
  width: 2rem;
  height: 2rem;
} 




/*Video position in the grid*/
.video-player-item {
  grid-area: "video";
  grid-row: 2/3;
  grid-column: 1/2;
}

.active-video-player iframe {
  margin-left: 100px;
  width: 100%;
  height: 75vh;
}
