/*CSS RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*=========
NAVIGATION BAR
===========*/

/*Positioning & separation line*/

body {
  height: fit-content;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 27px;
  background-color: white;
  z-index: 2;
}

nav {
  /* position: sticky;  */
  width: 100%;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

nav::after {
  content: "";
  background-color: gray;
  width: 100%;
  height: 2px;
  margin-top: 5px;
}

/*Hamburger menu*/
.hamburger-menu {
  display: inline-block;
  width: auto;
  height: fit-content;
}

.hamburger-draw {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 0 0 3px 0;
}

.hamburger-menu:first-child {
  margin-top: 4px;
}

/*search icon*/

.button-search {
  border: none;
  background-color: white;
  font-size: 19px;
}

/*hamburger and search centering*/
.left-items {
  display: flex;
  width: 250px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.left-items .hamburger-draw {
  position: relative;
  align-items: flex-end;
}

.left-items .search-icon {
  position: relative;
  align-items: flex-end;
}

/*Space & cosmos*/

.space-and-cosmos,
.space-and-cosmos a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

/*logo*/

.new-tork-times-logo img {
  width: 195px;
  height: auto;
}

/*top-buttons*/

.top-buttons {
  width: auto;
  height: 28px;
}

.top-button {
  background-color: rgb(50, 104, 145);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  height: 100%;
}

/*Hover effects in the navigation bar*/

.hamburger-menu:hover,
.button-search:hover {
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.2s;
}

.space-and-cosmos a:hover {
  text-decoration: underline;
  font-weight: bolder;
  text-decoration-thickness: 2px;
}

.top-button:hover {
  cursor: pointer;
}

/*============================
Cover image and figcaptions
=============================*/

article {
  position: relative;
  margin-top: 7%;
  text-align: center;
  max-height: fit-content;
}

article h1 {
  display: inline-block;
  width: 650px;
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 600;
  text-align: start;
}

figure {
  width: 950px;
  height: fit-content;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

article img {
  margin-top: 50px;
  width: 950px;
  height: 600px;
  z-index: 1;
}

figcaption {
  width: 600px;
  color: rgb(90, 90, 90);
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

figcaption span {
  color: rgb(145, 143, 143);
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*========================
Autor & Social media icons
==========================*/

.autor-social-media {
  margin: 50px auto 30px auto;
  width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.autor-social-media .autor-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.autor-date h5 {
  color: #333;
  font-weight: bolder;
  font-size: 0.8rem;
}

.autor-date h6 {
  color: #333;
  font-weight: lighter;
  font-size: 0.8rem;
}

.autor-social-media .social-media-icons {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.social-media-icons a {
  text-decoration: none;
  color: #333;
}

/*=============
News Body
==============*/

.news-body {
  position: relative;
  margin: 20px auto 20px auto;
  width: 600px;
  max-height: fit-content;
}

.news-body p {
  color: #333;
  line-height: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  text-align: start;
  padding: 10px 0 10px 0;
}

.news-body p a {
  color: #326891;
  text-decoration: none;
}

.news-body .second-part {
  margin: 0 auto 20px auto;
  width: 600px;
  height: fit-content ;
}  

/*YOUTUBE video section. Same news-body class in a different section tag*/

.news-body .youtube-video-section {
  width: 100%;
  height: 45vh;
  margin: 10px 0 60px 0;
}

.youtube-video {
  width: 100%;
  height: 100%;
}

.youtube-video-section figcaption {
  width: 80%;
  margin-top: 10px;
}

.youtube-video-section #video-title{
  color: rgba(68, 67, 67, 0.911);
  font-size: 0.9rem;
  letter-spacing: .02rem;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

.youtube-video-section #hidden-credit {
  visibility: hidden;
  position: absolute;
  width: 0;
}

.youtube-video-section #video-credits{
  font-size: 0.8rem;
  letter-spacing: .02rem;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;
  text-align: left;
}

/*Subscribe mini section*/

.subscribe::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #333;
  margin: 1px auto 15px auto;
}

.news-body .subscribe {
  width: 300px;
  height: 40px;
  margin: 20px auto 60px auto;
  text-align: center;
}

.subscribe p{
  color: #333;
  font-weight: bolder;
  font-size: 0.7rem;
  text-align: center;
  line-height: 5px;
}

.subscribe a,
.subscribe a p{
  text-decoration: none;
  color: blue;
}

.subscribe::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #333;
  margin: 15px auto 0 auto;
}

.news-body h3 {
  text-align: left;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5rem;
  font-weight: bolder;
}

/*=================
Inflation images header
==================*/

.inflation-container {
  position: relative;
  width: 950px;
  height: fit-content;
  margin: 20px auto 20px auto;
}

.inflation-container h3, .inflation-container p {
  text-align: left;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5rem;
  padding-bottom: 10px;
}

.inflation-container h3 {
  font-weight: bolder;
}

.inflation-container .credits::before{
  content: "";
  background-color: gray;
  width: 5rem;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
}

.inflation-container .credits{
  margin-top: 25px;
  text-align: left;
  font-size: 00.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: gray;
}

/*Grids*/

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 228px);
  grid-template-rows: repeat(2, fit-content);
  column-gap: 10px;
  row-gap: 15px;
}

.grid-item figure {
  width: 220px;
}

.grid-container .grid-item img {
  box-sizing: content-box;
  width: 220px;
  height: 120px;
}

.grid-container .grid-item figure figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: black;
  font-weight: 300;
  width: 228px;
}

.grid-item figure figcaption span {
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  letter-spacing: .02rem;
}

/*===============
Telescope images
================*/

.telescope {
  position: relative;
  width: 800px;
  height: 600px;
  /* left: calc(50% - 400px);
  right: calc(50% - 800px); */
  left: 50%;
  transform: translate(-50%, 0);
}

#telescope {
  width: 100%;
  height: 500px;
}

.telescope figcaption{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 17px;
  color: rgba(51, 51, 51, 0.616);
  font-weight: 500;
  width: 90%;
}

.telescope figcaption span{
  font-size: 0.8rem;
  margin-left: 10px;

}